/*body{*/
/*    margin-top:20px;*/
/*    background: darkred;*/
/*}*/

/*.todo-list {*/
/*    margin: 10px 0*/
/*}*/

/*.todo-list {*/
/*    padding: 15px;*/
/*    margin: 5px 0;*/
/*    border-radius: 0;*/
/*    background: blue;*/
/*}*/

/*div.button, div.button * {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*div.button {*/
/*    display: -moz-inline-box;*/
/*    display: inline-block;*/
/*    zoom: 1;*/
/*    vertical-align: middle;*/
/*}*/

/*.card {*/
/*    padding: 25px;*/
/*    margin-bottom: 20px;*/
/*    border: initial;*/
/*    background: green;*/
/*    border-radius: calc(.15rem - 1px);*/
/*    box-shadow: 0 1px 15px rgba(0,0,0,0.04), 0 1px 6px rgba(0,0,0,0.04);*/
/*}*/
#card-body {
display: flex;
    justify-content: space-between;
}
#todo-input {
    padding-left: 20px;
}
/*nowrapdiv * {*/
/*    background-color: yellow;*/
/*}*/




