
#card-body {
display: flex;
    justify-content: space-between;
}
#todo-input {
    padding-left: 20px;
}

#todo-container {
    border-top: 2px solid gray;
    grid-column: 1 / 5;
}
.button1{

    border: none;
    background-color: darkseagreen;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 50px;
}
.button2{
    border: none;
    background-color: lightskyblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}
.btn navbar-btn {
    border: none;
    background-color: palevioletred;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}
#card-body {
    border-bottom: 1px solid gray;
    grid-column: 1 / 5;
}
#todo-form {
    display: flex;
    justify-content: center;
}
h1 {
    text-align: center;
    padding: 15px;
}
#todo-input{
    margin-right: 50px;
}
#todo-date {
    margin-right: 40px;
}